<!DOCTYPE html>
<html>

<head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>

<body>

<div data-ng-app="myApp" ng-controller="myCtrl" data-ng-init="firstName='John'">
  <p>Name: <input type="text" data-ng-model="firstName"></p>
  <p>The name is <span data-ng-bind="firstName"></span></p>
  <p data-ng-bind="name"></p>
  <p>My first expression: {{ 5 + 5}}</p>

  First Name: <input type="text" ng-model="firstName"><br>
  Last Name: <input type="text" ng-model="lastName"><br>
  <br>
  Full Name: {{firstName + " " + lastName}}
</div>

<script>
  var app = angular.module('myApp', []);
  app.controller('myCtrl', function($scope) {
  $scope.firstName='John';
  $scope.lastName='Doe';
  });
</script>
</body>
</html>
